<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="index">
                Collage Creator
            </a>
        </div>
    </div>
</nav>


<canvas id="collage" th:width="${collageW}" th:height="${collageH}"></canvas>
</body>
<script th:inline="javascript">
    checkImage(/*[[${images}]]*/)

    function checkImage(images) {
        var canvas = document.getElementById("collage");
        canvas.width = /*[[${collageW}]]*/;
        canvas.height = /*[[${collageH}]]*/;

        var context = canvas.getContext("2d");
        images.forEach(function (item) {
            var img = new Image();
            img.src = item.imgUrl;
            img.onload = function () {
                console.log(item.x, item.y);

                context.drawImage(img, item.x, item.y, item.width + 1, item.height + 1);
            }
        });

    }
</script>
</html>