<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" media="all" href="resources/collage/css/grid.css"/>
</head>
<body>


<canvas id="collage" th:width="${collageW}" th:height="${collageH}"></canvas>
</body>
<script th:inline="javascript">
    checkImage(/*[[${images}]]*/)

    function checkImage(images) {
        var canvas = document.getElementById("collage");
        canvas.width = /*[[${collageW}]]*/;
        canvas.height = /*[[${collageH}]]*/;

        var context = canvas.getContext("2d");
        images.forEach(function (item) {
            var img = new Image();
            img.src = item.imgUrl;
            img.onload = function () {
                console.log(item.x, item.y);

                context.drawImage(img, item.x, item.y, item.width, item.height);
            }
        });

    }
</script>
</html>